<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test this out</title>
</head>

<body>
    <form action="">
        <label for="place">place</label>
        <input type="text" id="place" placeholder="place">
        <label for="noun">Noun</label>
        <input type="text" id="noun" placeholder="noun">
        <label for="verb">Verb</label>
        <input type="text" id="verb" placeholder="verb">
        <label for="adjective">Adjective</label>
        <input type="text" id="adjective" placeholder="adjective">
        <label for="plural_noun">Plural Noun</label>
        <input type="text" id="plural_noun" placeholder="plural_noun">
        <button>Submit</button>
    </form>
</body>

</html>